<ion-navbar *navbar>
  <ion-title>{{movie.name}}</ion-title>
</ion-navbar>

<ion-content padding class="movie-detail">
  <div class="selection">
    <img src="{{movie.posterImageURI}}">
    <p>{{movie.name}} was released in {{movie.yearReleased}} and is rated {{movie.mpaaRating}}.</p>
    <p>{{movie.description}}</p>
    <p><strong>Awards</strong> {{movie.awards}}</p>
    <p><strong>Staring</strong> {{movie.actors.join(', ')}}</p>
    <p><strong>Directed by</strong> {{movie.directors.join(', ')}}</p>
    <p><strong>Written by</strong> {{movie.writers.join(', ')}}</p>
    <div *ngIf="movie.totalRatings > 0">{{movie.totalRatings}} people have rated '{{movie.name}}' with an average rating of {{movie.rating}} out of 5.</div>
    <div *ngIf="movie.totalRatings == 0">'{{movie.name}}' is not yet rated.</div>
  </div>
</ion-content>

<ion-footer-bar *ngIf="auth.authenticated()">
  <div class="bar bar-footer bar-balanced">
    <button block (click)="openRatingMenu()">
      Rate Movie
    </button>
  </div>
</ion-footer-bar>
